* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
    margin-top: 52px;
    margin-left: 50px;
    
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 600px 600px;
    grid-gap: 15px;
}

.checkbox {
  margin-top: 60px;
}

.check {
  float: right;
  margin-right: 82%;
  font-size: 20px;
  line-height: 15px;
}
.radio {
  margin-top: 60px;
}
.radiobtn {
  float: right;
  margin-right: 87%;
  font-size: 20px;
  line-height: 15px;
}
